#animation-wrapper {
  width: 100%;
  display: flex;
}

.animation-timeline-box {
  height: 50px;
  border: 1px solid #aaaaaa;
  display: flex;
}

#animation-navigation {
  float: left;
  margin-right: 5px;
}

#pattern-selector {
  overflow-y: scroll;
  max-height: 150px;
}

.animation-timeline-box > div {
  border: 1px solid #aaaaaa;
  display: flex;
  place-items: center;
  cursor: pointer;
  border-radius: 2px;
}

#pattern-effects {
  float: left;
  width: 50%;
}

#pattern-effects input {
  margin-left: 5px;
  max-width: 60px;
}

#animation-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid darkgray;
  padding: 3px;
}

#pattern-effects-timeline {
  display: flex;
  flex: 1;
}

.left {
  float: left;
}
