#animation-section {
  width: 100%;
  display: flex;
  border: whitesmoke solid 1px;
}

#animation-settings {
  border: whitesmoke solid 1px;
  width: 30vh;
  min-width: 500px;
  height: 45vh;
  padding-top: 25px;
  overflow-y: scroll;
}

#animation-timeline {
  border: whitesmoke solid 1px;
  min-width: 600px;
  height: 100%;
  padding: 6px 20px 15px 20px;
}

.marker {
  cursor: pointer;
  position: absolute;
}
