#svg-holder {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 60px;
  right: 30px;
}

#svg-holder > svg {
  width: 100px;
  height: 100px;
}
