#pattern-timeline-section {
  display: flex;
  border: whitesmoke solid 1px;
  margin-top: 20px;
}

#pattern-selector {
  border: whitesmoke solid 1px;
  width: 20%;
  max-width: 200px;
}

#timeline {
  height: 100%;
  width: 80%;
  overflow-x: scroll;
}

.timeline-channel {
  border: rgb(112, 112, 112) solid 1px;
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
}
