html {
  scroll-behavior: smooth;
}

body {
  overflow-x: auto;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.MuiListItemIcon-root > .MuiSvgIcon-root {
  transition: transform 0.25s ease-in-out !important;
}

.MuiListItemIcon-root:hover > .MuiSvgIcon-root {
  transform: scale(1.1) !important;
}

.link-btn {
  text-decoration: none;
  color: white;
}

.link-btn:hover {
  color: gray;
  transition: ease-in-out 0.3s;
}

.canvas {
  border-radius: 2px;
  display: inline;
  box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.2);
}
