body {
  overflow-x: auto;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.MuiListItemIcon-root > .MuiSvgIcon-root {
  transition: transform 0.25s ease-in-out !important;
}

.MuiListItemIcon-root:hover > .MuiSvgIcon-root {
  transform: scale(1.1) !important;
}

@keyframes fadeIn {
  from {
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;

  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
