body {
  overflow-x: auto;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.MuiListItemIcon-root > .MuiSvgIcon-root {
  transition: transform 0.25s ease-in-out !important;
}

.MuiListItemIcon-root:hover > .MuiSvgIcon-root {
  transform: scale(1.1) !important;
}

.MuiButton-contained {
  background-color: #3747a5 !important;
  color: white !important;
}

.MuiButton-contained:hover {
  background-color: #2537a1 !important;
}

.MuiButton-contained:disabled {
  background-color: rgb(37, 55, 161, 0.4) !important;
  color: white !important;
}

.css-1r7avug-MuiButtonBase-root-MuiTab-root.Mui-selected,
.MuiButton-textPrimary,
.css-1e6ud36-MuiButtonBase-root-MuiCheckbox-root {
  color: #4262ca !important;
}

.css-155afqr-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
  background-color: #3747a5 !important;
  color: rgb(225, 225, 225) !important;
}

.css-3sx0hq-MuiTabs-indicator {
  background-color: #293cab !important;
}

.MuiButton-textPrimary:disabled {
  color: rgb(78, 97, 207, 0.6) !important;
}

.link-btn {
  text-decoration: none;
  color: white;
}

.link-btn:hover {
  color: gray;
  transition: ease-in-out 0.3s;
}

.canvas {
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 2px;
  display: inline;
}
